cycler==0.10.0
isort==4.3.21
joblib==0.14.1
kiwisolver==1.2.0
matplotlib==3.2.1
music21==5.7.2
numpy==1.18.2
pandas==0.24.2
pyparsing==2.4.7
python-dateutil==2.8.1
pytorch-ranger==0.1.1
pytz==2020.1
regex==2020.7.14
scikit-learn==0.22.2.post1
scipy==1.4.1
six==1.14.0
toml==0.10.0
torch==1.4.0
torch-optimizer==0.0.1a15
tqdm==4.45.0
